@import '../mixins.scss';
@import '../variables.scss';

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;

  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
  }

  &__text {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    @include h1_mixin(white, 'desktop');
    display: flex;
    justify-content: center;
    align-items: center;
    .mobile-break {
      display: none;
    }
  }
}


@media screen and (max-width: 768px) {
  .banner {
    height: 111px;

    &__text {
      @include h1_mixin(white, 'mobile');
      justify-content: flex-start;
      padding-left: 15px;
      .mobile-break {
        display: block;
      }
    }
  }
}
