@import '../variables.scss';
@import '../mixins.scss';

.collapse__about--wrapper {
  margin-top: 30px ;
  // margin-bottom: -30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 1023px;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 20px 0px;
    margin-bottom: -10%;
  }
}
.collapse__container, .about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  color: white;
  overflow: hidden;
  
  &.location__description {
    // margin-bottom: -40%;

    @media screen and (max-width: 768px) {
      grid-row: 5/6;
      grid-column: 1/2;
      width: 100%;
    // margin-top: 10%;

    }
  }
  &.location__equipment {
    // margin-bottom: -40%;

    @media screen and (max-width: 768px) {
      grid-row: 6/7;
      grid-column: 1/2;
      width: 100%;
      // margin-top: 10%;

    }
  }
}
.collapse__header {
  box-sizing: border-box;
  background-color: $primary-color;
  @include h3_mixin(white, 'desktop');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.collapse__content {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #f6f6f6;
  @include p_mixin($primary-color, 'desktop');
  color: $primary-color;
  // padding-top: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  z-index: -1;
  border-radius: 10px;
  padding: 10px;
  padding-top: 40px;
  top: -30px;
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    top: -20px;
  }
  &.closed {
    height: 0%;
    // top: 5px;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 1s ease;
    // margin-bottom: 10px;
    margin-top: -10%;
    @media screen and (max-width:768px) {
      margin-top: -20%;
    }
  }
  &.opened {
    height: 80%;
    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease;
    margin-top: 0px;
  }
}
