@import '../variables.scss';
@import '../mixins.scss';

.collapses__section {
  grid-column: 1/3;
}
.collapse {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.3em;

  & .header {
    box-sizing: border-box;
    height: $collapse_header-height;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    background-color: $primary-color;
    
    @include h3_mixin(white, 'desktop');
    font-size: 24px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      height: $collapse_header-height*1.5;
    }
  }
  & .content {
    @include p_mixin($primary-color, 'desktop');
    font-size: 18px;
    border-radius: 10px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    position: relative;
    top: -$collapse_header-height;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f6f6f6;
    z-index: -1;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
    
    &.open {

      font-size: 1em;
      // height: auto;
      min-height: fit-content;
      padding-top: $collapse_header-height * 1.02;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
      opacity: 1;
      transition: all 0.3s ease;

      @media screen and (max-width:768px) {
        padding-top: 2em;
        min-height: fit-content;
      }
    }
  }
}
