@import '../variables.scss';
@import '../mixins.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 0px 100px;

  &__logo--mobile {
    display: none;
  }
  &__links {
    width: fit-content;
    gap: 15px;
    display: flex;
  }
  &__links a {
    @include h2_mixin($primary-color, 'desktop');
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin: $main_margin--mobile;
    justify-content: space-between;

    &__logo--desktop {
      display: none;
    }
    &__logo--mobile {
      display: flex;
      width: 40%;
      height: auto;
    }
    &__links a {
      display: flex;
      margin: 0;
      @include h2_mixin($primary-color, 'mobile');
      font-size: 12px;
    }
  }
}
