@import '../variables.scss';
@import '../mixins.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 0px 100px;

  &__logo--mobile {
    display: none;
  }
  &__links {
    width: fit-content;
    gap: 60px;
    @include h2_mixin($primary-color, 'desktop');
    text-decoration: none;
  }
 
}
@media screen and (max-width: 768px) {
  .header {
    margin: $main_margin--mobile;
    justify-content: space-between;
    gap: 30px;

    &__logo--desktop {
      display: none;
    }
    &__logo--mobile {
      display: flex;
      width: 100%;
      height: auto;
    }
    &__links {
      gap: 25px;
      & a{
        line-height: 17px;
        @include h2_mixin($primary-color, 'mobile');
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
