@import '../variables.scss';
@import '../mixins.scss';

footer {
  position: relative;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: $footer-height;
  min-height: $footer-height;
  margin-bottom: 0%;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include h2_mixin(white, desktop);
  .footer__logo--mobile {
    display: none;
  }
  & p {
    padding-top: 1%;
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    .footer__logo--mobile {
      display: flex;
    }
    .footer__logo--desktop {
      display: none;
    }
    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & p {
      font-size: 12px;
      line-height: 17.11px;
      text-align: center;
      width: 100px;
    }
  }
}
