@import '../variables.scss';
@import '../mixins.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: $main-margin--desktop;

  height: 10%;
  .header__logo--desktop {
    display: block;
  }
  .header__logo--mobile {
    display: none;
  }
  .header__links {
    display: flex;
    gap: 60px;
    @include h2_mixin($black-color, 'desktop');

    & a {
      text-decoration: none;
    }
    & a:visited {
      color: $black-color;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin: $main_margin--mobile;
    gap: 20px;
    .header__logo--desktop {
      display: none;
    }
    .header__logo--mobile {
      display: block;
      width: 20vh;
      margin: 0px;
    }
    .header__links {
      width: auto;
      gap: 20px;
      font-size: 0.7em;
      flex-wrap: nowrap;
    }
    #header__links--accueil,
    #header__links--about {
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 400px) {
    .header {
      margin: $main_margin--max400px;
      .header__logo--mobile {
        width: 15vh;
      }
    }
  }
  @media screen and (max-width: 375px) {
    .header {
      margin: $main_margin--max375px;
      // padding: 0% 0% 1% 1%;
      .header__links {
        width: auto;
        gap: 15px;
        font-size: 0.7em;
        flex-wrap: nowrap;
      }
    }
  }
}
