@import 'variables';
@import 'mixins';

@import 'components/header';
@import 'components/footer';
@import 'components/banner';
@import 'components/locations__list.scss';
@import 'components/collapse.scss';
@import 'components/slideshow.scss';

@import 'pages/accueil';
@import 'pages/about';
@import 'pages/erreur.scss';
@import 'pages/about.scss';

#main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: $main_margin--desktop;
  @media screen and (max-width: 768px) {
    margin: $main_margin--mobile;
  }
}
.app-container {
  display: flex;
  flex-direction: column;

}
#root {
  display: flex;
  flex-direction: column;
}
* {
  margin: 0px;
  padding: 0px;
}
