$primary-color: #ff6060;
$white-color: white;
$black-color: black;
$primary-font-family: 'Montserrat', sans-serif;

$footer-height: 209px;
$main_margin--desktop: 1% 9%;
$main_margin--max950px: 1% 7%;
$main_margin--max800px:1% 5%;
$main_margin--mobile: 1% 4%;
$main_margin--max400px: 3.5%;
$main_margin--max375px: 1%;

$collapse_header-height: 3em;
