@import '../variables.scss';
@import '../mixins.scss';

#collapses_about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  margin-bottom: 10px !important;
  justify-content: space-between;
  gap: 3em;
  position: relative;
  .collapse__content {
    top: 0px;
  }
  footer {
    margin-top: 0;
  }
  #main {
    height: auto;
  }
  .open {
    top: -20px;
    padding-top: 5%;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (max-width: 768px) {
    .open {
      top: -1.3em;

      padding-top: 4%;
    }
  }
}
