@import '../variables.scss';
@import '../mixins.scss';

.container_about_page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-height: 75vh;
  // width: auto;

  & #collapses_about_page {
    margin-top: 5vh;
    padding: 2%;
    gap: 30px;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
