@import '../variables.scss';
@import '../mixins.scss';

.erreur {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2%;
  // gap: 139px;
  // position: relative;
  // top: 250px;

  .erreur__title {
    @include h1_mixin($primary-color, desktop);
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 0em;
    // line-height: 410px;
  }
  .erreur__text {
    @include h2_mixin($primary-color, desktop);
    font-size: 30px;
    text-align: center;
  }
  .erreur__link {
    @include p_mixin($primary-color, desktop);
    // padding-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .erreur {
    gap: 50px;
    margin-bottom: 10%;
    .erreur__title {
      font-size: 96px;
      line-height: 136px;
    }
    .erreur__text {
      font-size: 18px;
    }
    .erreur__link {
      // padding-top: 0px;
    }
  }
}
